.app-breadcrumb {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--color-background-light);
  box-shadow: 0 1px 3px rgba(var(--color-border-rgb), 0.5);
  font-size: 1rem;
  white-space: nowrap;
}

.breadcrumb {
  list-style: none;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  align-items: center;
  display: flex;
}

.breadcrumb a, .breadcrumb span {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 .75em 0 0.75em;
  text-decoration: none;
}

.breadcrumb li:first-child a {
  padding-left: 0;
}

.breadcrumb li + li::before {
  color: var(--color-border);
  content: "/";
}