.app-header {
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 15px 0;
}

.app-header .app-name {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header h1 {
  margin: 0;
  font-size: 1.8em;
  text-align: center;
  color: #fff;
  display: inline-block;
}

.app-logo svg {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  height: 40px;
  width: auto;
  color: white;
}