.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    flex-shrink: 0;
}

.icon-sm {
    width: 18px;
    height: 18px;
}

.icon svg {
    width: 100%;
    height: 100%;
}