@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";
@import "./variables.css";
@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./breadcrumb.css";
@import "./offcanvas.css";
@import "./ui-config.css";
@import "./home-view.css";
@import "./station-view.css";
@import "./history-view.css";