:root {
  --primary-color: #0d529c;
  --primary-color-rgb: 13, 82, 156;
  --primary-color-dark: #012e60;
  --primary-color-dark-rgb: 1, 46, 96;

  --background-color: #f9f9f9;
  --text-color: #333;
  --color-border: #ddd;
  --header-bg: #0d529c;
  --header-bg-rgb: 44, 62, 80;
  --header-text: #ecf0f1;
  --footer-bg: #1f2d3c;
  --footer-text: #bdc3c7;
  --color-background-light: #fafafa;
  --color-border-rgb: 222, 226, 230;
  --color-text-secondary: #484e53;
  --color-text-primary: #2e3135;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
}
